body {
  width: 1000px;
  size: portrait
  
}

#selectpro {
  display: none;
}

#pdf {
  display: none;
}

#sidebar-container {
  display: none;
}

div.saltopagina {
  display: block;
  page-break-before: always;
}