body {
  
  size: portrait
  
}

#selectpro {
  display: none;
}

#pdf {
  display: none;
}
#undo {
  display: none;
  
}

#clear {
  display: none;
}

#sidebar-container {
  display: none;
}

.saltopagina {
  display: block;
  page-break-before: always;
}
.saltopaginaup {
  display: block;
  page-break-after: always;
}

::-webkit-scrollbar {
  display: none;
}