/* @page{size:100% 100%; margin:0px;} */


body {
  
  height: 100%;
  line-height: unset; 
  
  
}

#selectpro {
  display: none;
}

#pdf {
  display: none;
}
#undo {
  display: none;
  
}

#clear {
  display: none;
}
#end {
  display: none;
}
#sidebar-container {
  display: none;
}

#textointro{
  display: none;
}
#textomapa{
  display: none;
}
#textoassess{
  display: none;
}
#btnassess{
  display: none;
}
#riskh{
  display:block;
}

#weluser{
  display:none;
}

.saltopagina {
  display: block;
  page-break-before: always;
}
.saltopaginaup {
  display: block;
  page-break-after: always;
}

::-webkit-scrollbar {
  display: none;
}