:root {
    --primary: #002a29;
    --light: #ffffff;
    --grey: #efefef;
    --secondary: #2e3b50;
}

body {
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important;  }
.bg-fondo{
    background-image: url(https://i.postimg.cc/VN9BVNfv/img-login.png);
    color: var(--light) !important;
}

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: #007a79
    ;
}

.btn-primary:active, .btn-primary:focus{
    background-color: #007a79
    ;
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 16rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}


.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }

#map {
    height: 400px;
    top: 0;
    left: 0;
    z-index: 0;
}

#map2 {
    height: 400px;
    top: 0;
    left: 0;
    z-index: 0;
}
  
.form-control {
    /* max-width: 10.125rem; */
    line-height: initial;
}

.swal-text {
    text-align: center;
    font-size: 20px;
    color: var(--dark);
}

.min-width {
    min-width: 6.125rem;
}

.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #007a79;
    border-radius: 10px;
    
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  
  #chartdiv {
    width: 100%;
    height: 100%;
    
  }

  
  .heat-slider--h {
    display: flex;
    align-items: center;
  }
  .heat-slider--h .heat-slider--label + * {
    margin-left: 1em;
    flex: 1;
  }
  
  .heat-slider--v {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .heat-slider--v .heat-slider--label + * {
    margin-top: 1em;
    flex: 1;
  }
  
  .heat-slider {
    --slider-base: #d8d8d8;
    --slider-red: red;
    --slider-orange: #ff7f36;
    --slider-yellow: #f6d866;
    --slider-green: green;
    --slider-blue: green;
    --slider-radius: 1em;
    --slider-handle-size: 1em;
    --p: 0%;
    width: 50%;
  }
  .heat-slider--input {
    position: relative;
    line-height: 0;
    border-radius: var(--slider-radius);
    background-image: linear-gradient(to right, var(--slider-blue), var(--slider-green), var(--slider-yellow), var(--slider-orange), var(--slider-red));
  }
  .heat-slider--input::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: -1px;
    border-radius: var(--slider-radius);
    background: linear-gradient(to right, transparent 0, transparent calc(var(--p) + var(--slider-handle-size) / 2), var(--slider-base) var(--p), var(--slider-base) 100%);
  }
  .heat-slider--input input {
    position: realtive;
    z-index: 1;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font: inherit;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .heat-slider--input input::-webkit-slider-runnable-track {
    background: transparent;
    padding: calc(var(--slider-handle-size) / 1.6) 0;
    margin: 0 calc(var(--slider-handle-size) / 2 * -1);
    cursor: pointer;
  }
  .heat-slider--input input::-moz-range-track {
    background: transparent;
    padding: calc(var(--slider-handle-size) / 1.6) 0;
    margin: 0 calc(var(--slider-handle-size) / 2 * -1);
    cursor: pointer;
  }
  .heat-slider--input input::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
            appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .heat-slider--input input::-moz-range-thumb {
    position: relative;
    -moz-appearance: none;
         appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: grab;
  }
  .heat-slider--input input:focus {
    outline: none;
  }
  .heat-slider--input input:active::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
            appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .heat-slider--input input:active::-moz-range-thumb {
    position: relative;
    -moz-appearance: none;
         appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: grabbing;
  }
  /* --------------------------------- */

  .heat-sliderinv--h {
    display: flex;
    align-items: center;
  }
  .heat-sliderinv--h .heat-sliderinv--label + * {
    margin-left: 1em;
    flex: 1;
  }
  
  .heat-sliderinv--v {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .heat-sliderinv--v .heat-sliderinv--label + * {
    margin-top: 1em;
    flex: 1;
  }
  
  .heat-sliderinv {
    --slider-base: #d8d8d8;
    --slider-red: red;
    --slider-orange: #ff7f36;
    --slider-yellow: #f6d866;
    --slider-green: green;
    --slider-blue: green;
    --slider-radius: 1em;
    --slider-handle-size: 1em;
    --p: 0%;
    width: 50%;
  }
  .heat-sliderinv--input {
    position: relative;
    line-height: 0;
    border-radius: var(--slider-radius);
    background-image: linear-gradient(to right, var(--slider-red), var(--slider-orange), var(--slider-yellow), var(--slider-green), var(--slider-blue));
  }
  .heat-sliderinv--input::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: -1px;
    border-radius: var(--slider-radius);
    background: linear-gradient(to right, transparent 0, transparent calc(var(--p) + var(--slider-handle-size) / 2), var(--slider-base) var(--p), var(--slider-base) 100%);
  }
  .heat-sliderinv--input input {
    position: realtive;
    z-index: 1;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font: inherit;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .heat-sliderinv--input input::-webkit-slider-runnable-track {
    background: transparent;
    padding: calc(var(--slider-handle-size) / 1.6) 0;
    margin: 0 calc(var(--slider-handle-size) / 2 * -1);
    cursor: pointer;
  }
  .heat-sliderinv--input input::-moz-range-track {
    background: transparent;
    padding: calc(var(--slider-handle-size) / 1.6) 0;
    margin: 0 calc(var(--slider-handle-size) / 2 * -1);
    cursor: pointer;
  }
  .heat-sliderinv--input input::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
            appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .heat-sliderinv--input input::-moz-range-thumb {
    position: relative;
    -moz-appearance: none;
         appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: grab;
  }
  .heat-sliderinv--input input:focus {
    outline: none;
  }
  .heat-sliderinv--input input:active::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
            appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .heat-sliderinv--input input:active::-moz-range-thumb {
    position: relative;
    -moz-appearance: none;
         appearance: none;
    box-shadow: 0 0 0 0.2em #444;
    height: calc(var(--slider-handle-size) * 2);
    width: var(--slider-handle-size);
    margin: calc(var(--slider-handle-size) * -1) 0;
    border-radius: var(--slider-radius, 1em);
    background: transparent;
    cursor: grabbing;
  }
  
  
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: system-ui, sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  output {
    margin: 1em;
    opacity: 1;
  }