<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="userestilo">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <title>General Map</title>
</head>

<body>
  <div class="d-flex" id="content-wrapper">
    <!-- Sidebar -->
    <div id="sidebar-container" class="bg-primary">
      <div class="logo">
        <img src="https://i.postimg.cc/wTC1XTN5/logo-sin-fondo.png" alt="Logo" />
        <h3>RISK TOOL</h3>
      </div>
      <div class="menu">
        <a href="/registro_caso" class="d-block text-light p-3 border-0"><i class="icon ion-md-map lead mr-2"></i>
          Route section analysis</a>
        <a href="/general" class="d-block text-light p-3 border-0"><i class="icon ion-md-map lead mr-2"></i>
          General map</a>
        <a href="/busqueda" class="d-block text-light p-3 border-0"><i class="icon ion-md-search lead mr-2"></i>
          Search by ID</a>
        <a href="/report" class="d-block text-light p-3 border-0"><i class="icon ion-md-search lead mr-2"></i>
           Generate report</a>
      </div>
    </div>
    <!-- Fin sidebar -->

    <div class="w-100">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://i.postimg.cc/ZqwbCQdY/config.png" class="img-fluid rounded-circle avatar mr-2"
                    alt="https://generated.photos/" />
                  User
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/">Cerrar sesión</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Fin Navbar -->

      <!-- Page Content -->
      <div id="content" class="bg-grey w-100">
        <section class="bg-light py-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-9 col-md-8">
                <h1 class="font-weight-bold mb-0">Welcome User</h1>
                <p class="lead text-muted">Check the current state of risk of the roadways</p>
              </div>
              <div class="col-lg-3 col-md-4 d-flex">
                <!-- <button class="btn btn-primary w-100 align-self-center">Descargar reporte de hoy</button> -->
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-4 my-4">
                <div class="card rounded-0">
                  <div class="card-header bg-light">
                    <h5 class="font-weight-bold mb-0"> Route section information</h5>
                  </div>
                  <div class="card-body pt-2">
                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><i class="icon ion-md-pricetag"></i></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0 font-weight-bold">Section ID</h6>
                        <h6 class="mb-0" id="id"></h6>
                      </div>
                    </div>

                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><i class="icon ion-md-calendar"></i></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0 font-weight-bold">Date of analysis</h6>
                        <h6 class="mb-0" id="fecharuta"></h6>
                      </div>
                    </div>
                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3 mb-0">
                        <h2 class="align-self-center mb-0"><i class="icon ion-md-map" width="25px"></i></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0 font-weight-bold">Initial Coordinates</h6>
                        <h6 class="mb-0" id="Initcoord"></h6>
                      </div>
                    </div>
                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3 mb-0">
                        <h2 class="align-self-center mb-0"><i class="icon ion-md-map" width="25px"></i></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0 font-weight-bold">Final Coordinates</h6>
                        <h6 class="mb-0" id="Finalcoord"></h6>
                      </div>
                    </div>
                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><i class="icon ion-md-document"></i></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0 font-weight-bold">Risk level</h6>
                        <h6 class="mb-0" id="riesgo"></h6>
                      </div>
                    </div>
                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><i class="icon ion-md-book"></i></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0 font-weight-bold">Additional Notes</h6>
                        <h6 class="mb-0" id="notasb"></h6>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="card rounded-0">
                  <div class="card-header bg-light">
                    <h5 class="font-weight-bold mb-0">Color Codes</h5>
                  </div>
                  <div class="card-body pt-2">
                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><img src="https://i.postimg.cc/CK63bCPg/green.png"
                            width="25px"></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0">Low Risk</h6>
                      </div>
                    </div>
                    <!-- <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><img src="https://i.postimg.cc/15PjnYmF/pink.png"
                            width="25px"></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0">Curado</h6>
                      </div>
                    </div> -->
                    <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><img src="https://i.postimg.cc/j2hv4tx7/yellow.png"
                            width="25px"></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0">Moderate Risk</h6>
                      </div>
                    </div>
                    <!--  <div class="d-flex border-bottom py-2">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><img src="https://i.postimg.cc/DZrc7nbM/orange.png"
                            width="25px"></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0">Moderate Risk</h6>
                      </div>
                    </div> -->
                    <div class="d-flex border-bottom py-2 mb-3">
                      <div class="d-flex mr-3">
                        <h2 class="align-self-center mb-0"><img src="https://i.postimg.cc/ZRkCkPqx/red.png"
                            width="25px"></h2>
                      </div>
                      <div class="align-self-center">
                        <h6 class="d-inline-block mb-0">High Risk</h6>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="col-lg-8 my-4">
                <div class="card rounded-0">
                  <div class="card-header bg-light">
                    <h5 class="d-inline-block font-weight-bold mb-0">Map of total registered cases</h5>
                    <button class="btn btn-primary float-right" onclick="initMap(), casos()">Update</button>
                    
                  </div>
                  <div class="card-body">
                    <div id="map"></div>
                  </div>
                </div>
                <br>
                <div class="col-lg-12">
                  <div class="card rounded-0">
                    <div class="card-header bg-light">
                      <h5 class="font-weight-bold mb-0">Selected route segments</h5>
                    </div>
                    <div class="card-body">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Segment ID</th>
                            <th scope="col">Risk level</th>
                          </tr>
                        </thead>
                        <tbody id="table">
                          <!-- Filas generadas dinamicamente xd -->
                          <tr>
                            <th scope="row">-</th>
                            <td>-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEen29bixPCHvTa7DWIErzdWhPg8Zp60Y&libraries=visualization&callback=initMap">
    </script>
  <script async defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
    integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

  <script>




    var map;
    var geocoder;
    let intensidadriesgo;
    let Lat;
    let Lng;

    let heatmaps = [];

    function initMap() {
      var table = document.getElementById('table');
          table.innerHTML = "";

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12, center: { lat: 10.949185, lng: -74.803391 },
        streetViewControl: false
      });
      geocoder = new google.maps.Geocoder();
    }

    async function casos() {
      routePath =[];
      var mapaconsult;
      const consulta = { con: mapaconsult };
      const options1 = {
        method: "POST",
        body: JSON.stringify(consulta),
        headers: {
          "Content-Type": "application/json"
        }
      };



      const response2 = await fetch('/mapageneral', options1);
      result2 = await response2.json();
      console.log(result2);



      initHeatMap();
      map.addListener('click', (e) => {
        addRoutePoint(e.latLng)
      } )
    }
    function addRoutePoint(pos){
      var marker = new google.maps.Marker({
        position: pos,
        map: map
    });
      routePath.push(pos)
      routeMarkers.push(marker)
      drawRoute();
    }
    let routePath =[];
    let routeMarkers =[];
    let markers = [];
    let polylines = [];
    let routeSegments=[]
    function initHeatMap() {

      var color;
      var icon;
      var descriptor
      for (var i = 0; i < result2.length; i++) {
        if (result2[i].riesgo <= 30) {
          
          descriptor = "Low";
          color = "#008000";
          icon = "http://maps.google.com/mapfiles/ms/icons/green.png";
        } else if (result2[i].riesgo > 30 && result2[i].riesgo <= 70) {
          
          descriptor = "Moderate";
          color = "#f6d866";
          icon = "http://maps.google.com/mapfiles/ms/icons/orange.png";
        } else if (result2[i].riesgo > 70 && result2[i].riesgo <= 100) {
          
          color = "#ff0000";
          descriptor = "High";
          icon = "http://maps.google.com/mapfiles/ms/icons/red.png";
        }
        var pos = { lat: parseFloat(result2[i].latitud), lng: parseFloat(result2[i].longitud) };
        var segment = [pos, { lat: parseFloat(result2[i].latitud1), lng: parseFloat(result2[i].longitud1) }];
        DrawSection(segment, color);
        addMarker(segment, result2[i].id, icon, result2[i], descriptor)
      }

      console.log('pai entré a la fun')

      if (heatmaps.length > 0) {
        var capaheat = heatmaps[heatmaps.length - 1]
        capaheat.setMap(null);
      }
      var heatmap = new google.maps.visualization.HeatmapLayer({

      });;


      //heatmap.setData(heatMapData);
      //heatmap.setMap(map);
      //heatmaps.push(heatmap)
    }
    function DrawSection(segment, color) {
      var lineSymbol = {
        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
      };

      var riskpath = new google.maps.Polyline({
        path: segment,
        geodesic: true,
        strokeColor: color,
        strokeOpacity: 1.0,
        strokeWeight: 2,
        icons: [
          {
            icon: lineSymbol,
            offset: "100%",
            repeat: '20px'
          },
        ]
      });

      riskpath.setMap(map)
      polylines.push(riskpath)
    }
    function addMarker(segment, id, icon, result, descriptor) {
      var marker = new google.maps.Marker({
        position: segment[0],
        label: {
          text: String(id),
          fontFamily: 'Source Sans Pro',
          fontSize: '17px',
          fontWeight: 'bold'
        },
        map: map,
        icon: {
          url: icon,
          labelOrigin: { x: 16, y: 10 },

        }
      });
      var rut = result.fecharuta.split("T")
      var fecharuta = rut[0];
      marker.addListener('mouseover', () => {
        document.getElementById("id").innerHTML = result.id;
        document.getElementById("fecharuta").innerHTML = fecharuta
        document.getElementById("Initcoord").innerHTML = result.latitud + ", " + result.longitud;
        document.getElementById("Finalcoord").innerHTML = result.latitud1 + ", " + result.longitud1;
        document.getElementById("riesgo").innerHTML = descriptor + " (" + result.riesgo.toFixed(2) + '%)';
        document.getElementById("notasb").innerHTML = result.notas;
      })
      marker.addListener('click', () => {
        routePath.push(segment[0])
        routePath.push(segment[1])
        drawRoute();
        insertTable(result.riesgo.toFixed(2), result.id);
        
      })
      markers.push(marker);
    }
    function insertTable(res1, res2){
      console.log("executed")
      var table = document.getElementById('table');
            var tr = document.createElement('tr');
            tr.innerHTML = '<th>' + res2 + '</th>' + '<td>' + res1 + '</td>';
            table.appendChild(tr);  
    };
    
    function drawRoute(){
      var lineSymbol = {
        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
      };
      if (route != null){
        route.setMap(null)
      }
      route = new google.maps.Polyline({
        path: routePath,
        geodesic: true,
        strokeColor: "#000000",
        strokeOpacity: 1.0,
        strokeWeight: 2,
        icons: [
          {
            icon: lineSymbol,
            offset: "100%",
            repeat: '20px'
          },
        ]
      });
      
      route.setMap(map)
    };
    let route;
  </script>

</body>

</html>