<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>Risk Tool</title>
	<!-- <link rel="icon" href="img/icon2.png" type="image / icon type" /> -->
	<!--Lealflet-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>

	<!--Ajax-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--Styles-->
	<link rel="stylesheet" href="estilo" />
	<link rel="stylesheet" href="mainestilo" />
	<!--Animated-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<!--ip-->

	<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap" rel="stylesheet">

	<script src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>
	<main>
		<div class="big-wrapper light">
			

			<header>
				<div class="container">
					<div class="logo">
						<img src="https://i.postimg.cc/wTC1XTN5/logo-sin-fondo.png" alt="Logo" />
						<h3>RISK TOOL</h3>
					</div>

					<div class="links">
						<ul>
							<li><a href="/">Home</a></li>
							<!-- <li><a href="#">Pricing</a></li>
                <li><a href="#">Testimonials</a></li> -->
							<li><a href="login" class="btn">Log In</a></li>
						</ul>
					</div>

					<div class="overlay"></div>

					<div class="hamburger-menu">
						<div class="bar"></div>
					</div>
				</div>
			</header>

			<div class="showcase-area">
				<div class="container">
					<div class="left">
						<div class="big-title">
							<h1>Saving lives,</h1>
							<h1>One trip at a time.</h1>
						</div>
						<p class="text">

						</p>
						<!-- <div class="cta">
                <a href="#" class="btn">Get started</a>
              </div> -->
					</div>

					<div class="right">
						<img src="https://i.postimg.cc/GtbQhxL2/camionsf1.png" alt="Person Image" class="person" />
					</div>
				</div>
			</div>

			<div class="bottom-area">
				<div class="container">
					<button class="toggle-btn">
						<i class="far fa-moon"></i>
						<i class="far fa-sun"></i>
					</button>
				</div>
			</div>
		</div>
	</main>

	<!-- JavaScript Files -->

	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	
</body>

<script>
	// Select The Elements
	var toggle_btn;
	var big_wrapper;
	var hamburger_menu;

	function declare() {
		toggle_btn = document.querySelector(".toggle-btn");
		big_wrapper = document.querySelector(".big-wrapper");
		hamburger_menu = document.querySelector(".hamburger-menu");
	}

	const main = document.querySelector("main");

	declare();

	let dark = false;

	function toggleAnimation() {
		// Clone the wrapper
		dark = !dark;
		let clone = big_wrapper.cloneNode(true);
		if (dark) {
			clone.classList.remove("light");
			clone.classList.add("dark");
		} else {
			clone.classList.remove("dark");
			clone.classList.add("light");
		}
		clone.classList.add("copy");
		main.appendChild(clone);

		document.body.classList.add("stop-scrolling");

		clone.addEventListener("animationend", () => {
			document.body.classList.remove("stop-scrolling");
			big_wrapper.remove();
			clone.classList.remove("copy");
			// Reset Variables
			declare();
			events();
		});
	}

	function events() {
		toggle_btn.addEventListener("click", toggleAnimation);
		hamburger_menu.addEventListener("click", () => {
			big_wrapper.classList.toggle("active");
		});
	}

	events();
</script>

</html>