<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>Covid Tool</title>
	<link rel="icon" href="img/icon2.png" type="image / icon type" />
	<!--Lealflet-->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>

	<!--Ajax-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!--Animated-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!--SWAL-->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!--Styles-->
	<link rel="stylesheet" href="loginestilo" />
</head>

<body>
	<main>
		<div class="big-wrapper light">
		  <img src="./img/shape.png" alt="" class="shape" />
  
		  <header>
			<div class="container">
			  <div class="logo">
				<img src="https://i.postimg.cc/wTC1XTN5/logo-sin-fondo.png" alt="Logo" />
				<h3>RISK TOOL</h3>
			  </div>
  
			  <div class="links">
				<ul>
				 <!--  <li><a href="/">Inicio</a></li> -->
				  <!-- <li><a href="#">Pricing</a></li>
				  <li><a href="#">Testimonials</a></li> -->
				  <li><a href="/" class="btn">Home</a></li>
				</ul>
			  </div>
  
			  <div class="overlay"></div>
  
			  <div class="hamburger-menu">
				<div class="bar"></div>
			  </div>
			</div>
		  </header>
		  <div class="contenedor__todo">
			<div class="caja__trasera">
				<div class="caja__trasera-login">
					<h3>Do you already have an account?</h3>
					<p>Let's login</p>
					<button id="btn__iniciar-sesion">Login</button>
				</div>
				<div class="caja__trasera-register">
					<h3>You do not have an account?</h3>
					<p>Sign up to log in</p>
					<button id="btn__registrarse">Sign Up</button>
				</div>
			</div>
	
			<!--Formulario de Login y registro-->
			<div class="contenedor__login-register">
				<!--Login-->
				<form id="formulario_login" action="" class="formulario__login">
					<h2>Log In</h2>
					<input id = "username" type="text" placeholder="Username">
					<input id="password" type="password" placeholder="Password">
					<button>Login</button>
				</form>
	
				<!--Register-->
				<form id="formulario_register" action="/form" method="post" class="formulario__register">
					<h2>Sign up</h2>
					<input id="nombre" name="nombre" type="text" placeholder="Name">
					<input id="apellido" name="apellido" type="text" placeholder="Last name">
					<input id="cedula" name="cedula" type="text" placeholder="Id">
					<input id="usuario" name="usuario" type="text" placeholder="Username">
					<input id="pass" name="contra" type="password" placeholder="Password">
					<button >Sign Up</button>
				</form>
			</div>
		</div>
		</div>
	  </main>

</body>

<script>

	// Select The Elements
	var toggle_btn;
	var big_wrapper;
	var hamburger_menu;

	function declare() {
		toggle_btn = document.querySelector(".toggle-btn");
		big_wrapper = document.querySelector(".big-wrapper");
		hamburger_menu = document.querySelector(".hamburger-menu");
	}

	const main = document.querySelector("main");

	declare();

	let dark = false;

	function toggleAnimation() {
		// Clone the wrapper
		dark = !dark;
		let clone = big_wrapper.cloneNode(true);
		if (dark) {
			clone.classList.remove("light");
			clone.classList.add("dark");
		} else {
			clone.classList.remove("dark");
			clone.classList.add("light");
		}
		clone.classList.add("copy");
		main.appendChild(clone);

		document.body.classList.add("stop-scrolling");

		clone.addEventListener("animationend", () => {
			document.body.classList.remove("stop-scrolling");
			big_wrapper.remove();
			clone.classList.remove("copy");
			// Reset Variables
			declare();
			events();
		});
	}

	function events() {
		toggle_btn.addEventListener("click", toggleAnimation);
		hamburger_menu.addEventListener("click", () => {
			big_wrapper.classList.toggle("active");
		});
	}

	events();
</script>

<script>
	let username;
	let contra;
	let cont = 0;
	const formLogin = document.querySelector('#formulario_login');
	formLogin.addEventListener('submit', event => {
		username = document.getElementById("username").value;
		console.log(username);
		contra = document.getElementById("password").value;
		console.log(contra);
		event.preventDefault();
		let informacion = {
			username: username,
			contra: contra
		};
		console.log(informacion);
		const opciones = {
			method: 'POST',
			body: JSON.stringify(informacion),
			redirect: 'follow',
			headers: {
				'Content-Type': 'application/json'
				// 'Content-Type': 'application/x-www-form-urlencoded',
			}
		}; var red;
		red = fetch('/login', opciones).then(response => {
			if (response.redirected) {
				window.location.href = response.url;
			} else {
				swal('Usuario y/o contraseña incorrectos', 'Intenta de nuevo');
				document.getElementById("username").value = "";
				document.getElementById("password").value = "";
			}
		});



	});
</script>
<script>

	document.getElementById("btn__iniciar-sesion").addEventListener("click", iniciarSesion);
	document.getElementById("btn__registrarse").addEventListener("click", register);
	window.addEventListener("resize", anchoPage);

	//Declarando variables
	var formulario_login = document.querySelector(".formulario__login");
	var formulario_register = document.querySelector(".formulario__register");
	var contenedor_login_register = document.querySelector(".contenedor__login-register");
	var caja_trasera_login = document.querySelector(".caja__trasera-login");
	var caja_trasera_register = document.querySelector(".caja__trasera-register");

	//FUNCIONES

	function anchoPage() {

		if (window.innerWidth > 850) {
			caja_trasera_register.style.display = "block";
			caja_trasera_login.style.display = "block";
		} else {
			caja_trasera_register.style.display = "block";
			caja_trasera_register.style.opacity = "1";
			caja_trasera_login.style.display = "none";
			formulario_login.style.display = "block";
			contenedor_login_register.style.left = "0px";
			formulario_register.style.display = "none";
		}
	}

	anchoPage();


	function iniciarSesion() {
		if (window.innerWidth > 850) {
			formulario_login.style.display = "block";
			contenedor_login_register.style.left = "10px";
			formulario_register.style.display = "none";
			caja_trasera_register.style.opacity = "1";
			caja_trasera_login.style.opacity = "0";
		} else {
			formulario_login.style.display = "block";
			contenedor_login_register.style.left = "0px";
			formulario_register.style.display = "none";
			caja_trasera_register.style.display = "block";
			caja_trasera_login.style.display = "none";
		}
	}

	function register() {
		if (window.innerWidth > 850) {
			formulario_register.style.display = "block";
			contenedor_login_register.style.left = "410px";
			formulario_login.style.display = "none";
			caja_trasera_register.style.opacity = "0";
			caja_trasera_login.style.opacity = "1";
		} else {
			formulario_register.style.display = "block";
			contenedor_login_register.style.left = "0px";
			formulario_login.style.display = "none";
			caja_trasera_register.style.display = "none";
			caja_trasera_login.style.display = "block";
			caja_trasera_login.style.opacity = "1";
		}
	}
</script>
<script>
	const formregister = document.querySelector('#formulario_register');
	formregister.addEventListener('submit', event => {
		let informacion = {
			nombre: nombre,
			apellido: apellido,
			cedula: cedula,
			usuario: usuario,
			password: pass
		};
		const opciones = {
			method: 'POST',
			body: JSON.stringify(informacion),
			redirect: 'follow',
			headers: {
				'Content-Type': 'application/json'
				// 'Content-Type': 'application/x-www-form-urlencoded',
			}
		};
		red = fetch('/form', opciones).then(response => {
			if (response.redirected) {
				window.location.href = response.url;
			} else {
				swal('Usuario registrado exitosamente');
				document.getElementById("nombre").value = "";
				document.getElementById("apellido").value = "";
				document.getElementById("cedula").value = "";
				document.getElementById("usuario").value = "";
				document.getElementById("pass").value = "";
			}
		});



	});
</script>




</html>