<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="reportestilo">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Report</title>
</head>

<body>
    <div class="d-flex" id="content-wrapper">
        <!-- Sidebar -->
        <!--  <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold mb-0"><img src="https://i.postimg.cc/k4cVktLT/RISK-TOOL.png" alt="">
                </h4>
            </div>
            <div class="menu">
                <a href="/registro_caso" class="d-block text-light p-3 border-0"><i
                        class="icon ion-md-map lead mr-2"></i>
                    Registro de casos</a>
                <a href="/obtener_caso" class="d-block text-light p-3 border-0"><i
                        class="icon ion-md-search lead mr-2"></i>
                    Obtener caso</a>
            </div>
        </div> -->
        <!-- Fin sidebar -->

        <div class="w-100">
            <!-- Navbar -->
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="https://i.postimg.cc/j25tSgL0/prescripcion.png"
                                        class="img-fluid rounded-circle avatar mr-2" alt="https://generated.photos/" />
                                    Usuario
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/">Cerrar sesión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav> -->
            <!-- Fin Navbar -->

            <!-- Page Content -->
            <div id="content" class="bg-grey w-100">
                <section class="bg-light py-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-9 col-md-8">
                                <h1 class="font-weight-bold mb-0">Report</h1>
                                <p class="lead text-muted"></p>
                            </div>
                            <div class="col-lg-3 col-md-4 d-flex">
                                <!-- <button class="btn btn-primary w-100 align-self-center">Descargar reporte de hoy</button> -->
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 my-4">
                                <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        <h5 class="font-weight-bold mb-0">Route Information</h5>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <!-- <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead> -->
                                            <tbody id="table">
                                                <!-- Filas generadas dinamicamente xd -->
                                                <tr>
                                                    <th scope="row">Product to be transported</th>
                                                    <td>
                                                        <h6 class="mb-0" id="producto">-</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"> Risk product </th>
                                                    <td>
                                                        <h6 class="mb-0" id="riesgoproducto">-</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"> UN Number </th>
                                                    <td>
                                                        <h6 class="mb-0" id="UN">-</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"> Presentation </th>
                                                    <td>
                                                        <h6 class="mb-0" id="presentation">-</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"> Packing </th>
                                                    <td>
                                                        <h6 class="mb-0" id="packing">-</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"> Labels </th>
                                                    <td>
                                                        <h6 class="mb-0" id="labels">-</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row"> Total Risk </th>
                                                    <td>
                                                        <h6 class="mb-0" id="risk">-</h6>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="saltopagina"></div>
                            <div class="col-lg-8 my-4">
                                <div class="card rounded-0">
                                    <div id ="selectpro" class="card-header bg-light">
                                        <h5 class="font-weight-bold mb-4">Product</h5>
                                        <h6 class="mb-3">Select the product to be transported</h6>
                                        <select oninput="actualizar(this)" class="custom-select mb-4" id="lista_product"
                                            name="lista_estados">
                                            <option value="1">-</option>
                                            <option value="2">Carbon disulfide</option>
                                            <!-- <option value="3">Tratamiento en hospital</option>
                                            <option value="4">En UCI</option>
                                            <option value="1">Curado</option>
                                            <option value="5">Fallecido</option> -->
                                        </select>
                                        <input onclick="save()" class="btn btn-primary" type="button" id="pdf" value="Save Report">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="font-weight-bold mb-4">Route Generator</h5>
                                        <h6 class="mb-3"></h6>
                                        <div id="map"></div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    


</body>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEen29bixPCHvTa7DWIErzdWhPg8Zp60Y&libraries=visualization&callback=initMap"></script>
    <script>
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13, center: { lat: 10.9861045, lng: -74.80928094 },
                streetViewControl: false
            });
            casos();
        }
    </script>
    <script>

        var select = document.getElementById("lista_product");
        select.addEventListener('onchange', () => {
            if (document.getElementById("lista_product").value == 2) {
                console.log("entré")
            }


        })
        function actualizar(option) {

            if (option.value == 2) {
                console.log("entré")
                document.getElementById("producto").innerHTML = "Carbon disulfide"
                document.getElementById("riesgoproducto").innerHTML = "H225 - Highly flammable liquid and vapor Content." + "<br> H315 - Causes skin irritation." +
                    "<br> H319 - Causes serious eye irritation." + "<br> H372 - Causes damage to organs through prolonged or repeated exposure." + "<br> H361fd - Suspected of causing eye irritation." +
                    "<br> H372 - Causes damage to organs through prolonged or repeated exposure." + "<br> H361fd - Suspected of damaging fertility. Suspected of damaging the unborn child. " + "<br> H332 - Harmful if inhaled."
                document.getElementById("UN").innerHTML = "UN 1131 Carbon disulfide, Class 3 (6.1)"
                document.getElementById("presentation").innerHTML = "Liquid"
                document.getElementById("packing").innerHTML = "Isocontainer"
                document.getElementById("labels").innerHTML = '<img src="/fotos-rutas/carbondisulfide.png"></img>'
            }

        }
     /*  document.getElementById("fecharuta").innerHTML = fecharuta
              document.getElementById("Initcoord").innerHTML = result.latitud + ", " + result.longitud;
              document.getElementById("Finalcoord").innerHTML = result.latitud1 + ", " + result.longitud1;
              document.getElementById("riesgo").innerHTML = descriptor + " (" + result.riesgo + '%)';
              document.getElementById("notasb").innerHTML = result.notas; */
    </script>
<script>
    async function casos() {
        routePath =[];
        var mapaconsult;
        const consulta = { con: mapaconsult };
        const options1 = {
          method: "POST",
          body: JSON.stringify(consulta),
          headers: {
            "Content-Type": "application/json"
          }
        };
  
  
  
        const response2 = await fetch('/mapageneral', options1);
        result2 = await response2.json();
        console.log(result2);
  
  
  
        initHeatMap();
        map.addListener('click', (e) => {
          addRoutePoint(e.latLng)
        } )
      }
      function addRoutePoint(pos){
        var marker = new google.maps.Marker({
          position: pos,
          map: map
      });
        routePath.push(pos)
        routeMarkers.push(marker)
        drawRoute();
      }
      let routePath =[];
      let routeMarkers =[];
      let markers = [];
      let polylines = [];
      let routeSegments=[]
      function initHeatMap() {
  
        var color;
        var icon;
        var descriptor
        for (var i = 0; i < result2.length; i++) {
          if (result2[i].riesgo <= 30) {
            
            descriptor = "Low";
            color = "#008000";
            icon = "http://maps.google.com/mapfiles/ms/icons/green.png";
          } else if (result2[i].riesgo > 30 && result2[i].riesgo <= 70) {
            
            descriptor = "Moderate";
            color = "#f6d866";
            icon = "http://maps.google.com/mapfiles/ms/icons/orange.png";
          } else if (result2[i].riesgo > 70 && result2[i].riesgo <= 100) {
            
            color = "#ff0000";
            descriptor = "High";
            icon = "http://maps.google.com/mapfiles/ms/icons/red.png";
          }
          var pos = { lat: parseFloat(result2[i].latitud), lng: parseFloat(result2[i].longitud) };
          var segment = [pos, { lat: parseFloat(result2[i].latitud1), lng: parseFloat(result2[i].longitud1) }];
          DrawSection(segment, color);
          
        }
  
        console.log('pai entré a la fun')
  
        
  
  
        //heatmap.setData(heatMapData);
        //heatmap.setMap(map);
        //heatmaps.push(heatmap)
      }
      function DrawSection(segment, color) {
        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
        };
  
        var riskpath = new google.maps.Polyline({
          path: segment,
          geodesic: true,
          strokeColor: color,
          strokeOpacity: 1.0,
          strokeWeight: 2,
          icons: [
            {
              icon: lineSymbol,
              offset: "100%",
              repeat: '20px'
            },
          ]
        });
  
        riskpath.setMap(map)
        polylines.push(riskpath)
      }
      
      function drawRoute(){
        var lineSymbol = {
          path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
        };
        if (route != null){
          route.setMap(null)
        }
        route = new google.maps.Polyline({
          path: routePath,
          geodesic: true,
          strokeColor: "#000000",
          strokeOpacity: 1.0,
          strokeWeight: 2,
          icons: [
            {
              icon: lineSymbol,
              offset: "100%",
              repeat: '20px'
            },
          ]
        });
        
        route.setMap(map)
      };
      let route;
  </script>
  <script>
      function save(){
          /* document.getElementById("pdf").style.display = 'none'; */
          window.print();
      }
  </script>



    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
</html>